@import "config";


// page settings
body {
  background-color: $background;
}

// Header
header {
  div {
    div {
      padding-top: 20px;
      img {
        height: 90px;
      }
      #nav-menu{
        margin-top: 25px;
        padding: 10px;
        li {
          list-style: none;
          color: $basegreen;
          display: inline;
          margin-left: 10px;
          cursor: pointer;
          .toggle{
            background-color: $darkgreen;
            color: white;
          }
          i{
            padding: 10px;
            border-radius: 5px 5px 0 0;
          }
        }
      }
    }
  }
}

// wrapper

#wrapper {
  padding-right: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .toggle{
    padding-right: 300px;
  }
}


// Display DisplayArea

#displayArea{
  margin-top: 10vh;
  width: 100%;
  .toggle{
    margin-left: 300px;
  }
}

#nav-displayArea{
  p,label,select{
    margin-left: 20px;
  }
}

.product {
  padding-top: 10px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  $basegreen 0%, $darkgreen 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $basegreen 0%,$darkgreen 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $basegreen 0%,$darkgreen 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 10px;
  barder-radius-left: 0;
  div {
    background-color: $darkgreen;
    text-align: right;
    padding: 10px;
    border-radius: 0 0 10px 0;
    p {
      margin-bottom: 0.2rem;
      font-style: italic;
      font-size: 0.8rem;
    }
  }
}

.category {
  color: white;
  text-align: right;
  background: -moz-linear-gradient(top,  $basegreen 0%, $darkgreen 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $basegreen 0%,$darkgreen 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $basegreen 0%,$darkgreen 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 10px 10px 10px 0px;
  padding: 10px;
  cursor: pointer;
  h3{
    font-size: 1.1rem;
  }
}
// Menu Area

#menuArea {
  z-index: 20;
  padding-right: 20;
  right: 0;
  margin-top: -94px;
  position: fixed;
  height: auto;
  width: 0;
  background-color: white;
  box-shadow: -7px -4px 20px rgba(0, 0, 0, 0.1);
  .toggle{
    width: 300px;
  }
}

#shopBag-table,#filter-table{
  position: absolute;
  padding:20px;
  background-color: white;
}

.removeItem{
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

// Add Product

#productOpen{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  div.modulecontent {
    margin: 20vh auto;
    background-color: white;
    border-radius: 15px;
    width: 400px;
    div.banner {
      border-radius: 15px 15px 0 0;
      padding: 10px 20px;
      color: white;
      background-color: $basegreen;
      text-align: right;
      h1 {
        font-weight: bold;
      }
      p {
        position: absolute;
        font-style: italic;
      }
    }
    div {
      padding: 10px 20px;
    }
  }
}

//button class

.elbaraton-button{
  background-color: $basegreen;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
}
